
header{
    background-color: olivedrab;
}

body{
    text-align: center;
}

.div1 {
    background-color: khaki;
    padding: 50px;
}

.div2 {
    background-color: darkslategray;
    text-size-adjust: 500%;
}

